<div class="categories">
    <div>Categories:</div>
    <a href="/categories/cakes" class=" <% if (category === 'cakes') { %>
      selected
  <%} else { %>
      ''
      <% } %>">Cakes</a>
    <a href="/categories/frozen" class=" <% if (category === 'frozen') { %>
      selected
  <%} else { %>
      ''
      <% } %>">Frozen Food</a>
</div>