<%- include('partials/header'); -%>

<header>
  <!-- <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div> -->
  <div class="headings">
    <h2>Cakes Menus</h2>
    <h3>You want some?</h3>
    <a href="/catalogue" class="btn">View Menus</a>
  </div>
</header>
<div class="contact">
  <h1>You have any issues?</h1>
  <h2>Contact Us!</h2>
  <div class="contact-method">
    <div class="contact-address">
      <h3>You can visit us at : </h3>
      <p>Jl.Banteng No .36 Cimanggis Depok</p>
    </div>
    <div style="font-weight: bold; font-size: 1.5rem;">Or</div>
    <div class="contact-email">
      <h3>You can send us your problem</h3>
      <button><a href="/contact">Click Here</a></button>
    </div>
    
  </div>
</div>

<!-- <%- include('partials/footer'); -%> -->