<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Cakes Menus</h2>
    <h3>You want some?</h3>
    <a href="/catalogue" class="btn">View Menus</a>
  </div>
</header>
<div class="contact">
  <div class="contact-method">
    <div class="contact-address">
      <h3>You can visit us at : </h3>
      <p>Jl.Banteng No .36 Cimanggis Depok</p>
    </div>
    <div style="font-weight: bold; font-size: 1.5rem;">Or</div>
    <div class="contact-email">
      <h3>Contact Us</h3>
      <p style="margin-bottom: 1rem;">Send us a message through email by</p>
      <button><a href="/contact">Click Here</a></button>
    </div>
    
  </div>
</div>

<!-- <%- include('partials/footer'); -%> -->